.title-section {
    height: 100px;
    display: grid;
    place-items: center;
    font-size: var(--text-medium);
    color: var(--text-color);
    
    span {
        color: var(--action-color);
        font-weight: bold;
    }
}

.board-section {
    padding: 20px;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    &:hover {
        overflow-x: scroll;
    }

}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    
    >.score-frame {
        color: var(--text-color);
    }
}

.frame {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    height: 120px;

    background: var(--panel-bg);
    border-radius: var(--border-radius);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;

   &.active-frame {
    background: var(--action-color);
    color: white;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #000000;
   }

    >.frame-number {
        width: 100%;
        text-align: center;
        font-weight: bold;
        border-bottom: 2px solid #ffffff4d;
        padding-bottom: 8px;

    }
    >.frame-score {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
    }

    >.frame-total {
        width: 100%;
        text-align: center;
        font-weight: bold;
        border-top: 2px solid #ffffff4d;
        padding-top: 8px;

    }
    
    &:nth-child(1) {
        animation: slidein1 .7s ease-out;
    }
    &:nth-child(2) {
        animation: slidein2 .7s ease-out;
    }
    &:nth-child(3) {
        animation: slidein3 .7s ease-out;
    }
    &:nth-child(4) {
        animation: slidein4 .7s ease-out;
    }
    &:nth-child(5) {
        animation: slidein5 .7s ease-out;
    }
    &:nth-child(6) {
        animation: slidein6 .7s ease-out;
    }
    &:nth-child(7) {
        animation: slidein7 .7s ease-out;
    }
    &:nth-child(8) {
        animation: slidein8 .7s ease-out;
    }
    &:nth-child(9) {
        animation: slidein9 .7s ease-out;
    }
    &:nth-child(10) {
        animation: slidein10 .7s ease-out;
    }
}



.game-controller-section {
    padding: 20px;
    display: grid;
    place-items: center;

    .game-controller {
        display: grid;
        
    }
}

.gameover-prompt {
    color: var(--text-color);
    font-size: var(--text-medium);
    >span {
        color: var(--action-color);
        font-size: var(--text-large);
    }
}

.gameover-actions {
    margin-top: 30px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;

    >div {
        cursor: pointer;
        color: var(--action-color);
    }
}

.restart-game-during {
    margin-top: 20px;
    cursor: pointer;
    color: var(--action-color);
    text-align: center;
}


@keyframes slidein1 {
    0% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes slidein2 {
    0% {
        transform: translate(-200%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes slidein3 {
    0% {
        transform: translate(-300%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein4 {
    0% {
        transform: translate(-400%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes slidein5 {
    0% {
        transform: translate(-500%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein6 {
    0% {
        transform: translate(-600%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein7 {
    0% {
        transform: translate(-700%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein8 {
    0% {
        transform: translate(-800%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein9 {
    0% {
        transform: translate(-900%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein10 {
    0% {
        transform: translate(-1000%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}