/** custom toggle switch **/

$transition: all .3s ease;

.toggle {
    & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    & .check-trail {
        display: flex;
        align-items: center;
        width: 60px;
        height: 30px;
        background: var(--action-color);
        border-radius: 25px;
        transition: $transition;
        cursor: pointer;
    }

    & .check-handler {
        display: flex;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        background: var(--bg);
        border-radius: 50%;
        transition: $transition;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        > img {
            width: 16px;
            height: 16px;
        }

    }

    & input[type="checkbox"]:checked+.check-trail {
        .check-handler {
            margin-left: 50%;
        }
    }
}