.continue-as {
    height: 60px;
    display: grid;
    place-items: center;
    background: var(--action-color);
    color: white;
    width: 100%;
    cursor: pointer;
}

.dialog-actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    padding: 0 15px;
    margin-bottom: 20px;
}