<section class="game-hero">
    <div class="banner">
        <div class="banner-left">
            <div>Can You Do Better?</div>
            <button (click)="startNewGame()">Play Now</button>
        </div>
        <img src="assets/banner.png">
    </div>
    
</section>
<div class="podium-section">
    <div class="podium-container">
        <div class="top3">
            <div class="top-score" *ngFor="let score of (scores$ | async | slice:0:3 ); let i = index;">
                <div class="top-name">{{score.name}}</div>
                <div class="top-score">{{score.score}}</div>
            </div>
        </div>
        <img class="podium-img" src="assets/podium.png">
    </div>

</div>
<section class="leaderboard-section">
    <div class="leaderboard">
        <ng-container *ngFor="let score of (scores$ | async | slice:3 ); let i = index;">
            <div class="score-row">
                <div class="rank">{{i+4}}</div>
                <div class="name">{{score.name}}</div>
                <div class="score">{{score.score}}</div>
            </div>
        </ng-container>
    </div>
</section>