<section class="game-hero">
    <p>
        Can you beat top Scorrer?
    </p>
    <button (click)="startNewGame()">Play Now</button>
</section>
<section class="leaderboard">

    <div class="score-row row-header">
        <div class="rank">Rank</div>
        <div class="name">Name</div>
        <div class="score">Score</div>
    </div>
    <ng-container *ngFor="let score of (mockRows | async); let i = index;">
        <div class="score-row">
            <div class="rank">#{{i}}</div>
            <div class="name">{{score.name}}</div>
            <div class="score">{{score.score}}</div>
        </div>
    </ng-container>
</section>
